<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.BoardMapper">

	<sql id="searchCond">
		<where>
			<choose>
				<when test="searchCondition == 'T'.toString()">
					title like '%'||#{keyword}||'%'
				</when>
				<when test="searchCondition == 'W'.toString()">
					writer like '%'||#{keyword}||'%'
				</when>
				<when test="searchCondition == 'TW'.toString()">
					(writer like '%'||#{keyword}||'%' or title like '%'||#{keyword}||'%')
				</when>
			</choose>
		</where>
	</sql>

	<select id="getTimes" resultType="String">
		select sysdate from dual
	</select>

	<update id="updateViewCnt" parameterType="int">
		update tbl_board
		set
		view_cnt = view_cnt + 1
		where board_no = #{boardNo}
	</update>

	<select id="selectList" parameterType="co.yedam.common.SearchVO"
		resultType="co.yedam.vo.BoardVO">
		select *
		from (
		select rownum rn, b.*
		from tbl_board b
		<include refid="searchCond" />
		order by board_no) a
		where rn > (#{page} -1) * 5
		<![CDATA[
    	and rn <= (#{page} * 5)
    	]]>
	</select>
	
	<select id="boardSelectList" parameterType="co.yedam.common.BoardPageVO"
		resultType="co.yedam.vo.BoardVO">
		select *
		from (
		select rownum rn, b.*
		from tbl_board b
		<include refid="searchCond" />
		order by board_no) a
		where rn > (#{page} -1) * 5
		<![CDATA[
    	and rn <= (#{page} * 5)
    	]]>
	</select>

	<select id="selectCount"
		parameterType="co.yedam.common.SearchVO" resultType="int">
		select count(1)
		from (
		select rownum rn, b.*
		from tbl_board b
		<include refid="searchCond" />
		)
	</select>

	<insert id="insertBoard" parameterType="co.yedam.vo.BoardVO">
		insert into tbl_board
		(board_no, title, content, writer, img)
		values(board_seq.nextval,
		#{title}, #{content}, #{writer}, #{img})
	</insert>

	<insert id="insertAjaxBoard" parameterType="co.yedam.vo.BoardVO">
		insert into tbl_board (board_no, title, content, writer)
		values(board_seq.nextval, #{title}, #{content}, #{writer})
	</insert>

	<delete id="deleteBoard" parameterType="int">
		delete from tbl_board
		where board_no = #{bno}
	</delete>

	<select id="getBoard" parameterType="int"
		resultType="co.yedam.vo.BoardVO">
		select *
		from tbl_board
		where board_no = #{bno}
	</select>

	<update id="modifyBoard" parameterType="co.yedam.vo.BoardVO">
		update tbl_board
		set
		title=#{title}, content=#{content}
		where board_no = #{boardNo}
	</update>

	<select id="boardList" resultType="co.yedam.vo.BoardVO">
		select *
		from tbl_board
	</select>

</mapper>